@import url('https://fonts.googleapis.com/css?family=Raleway');
    @import url('https://fonts.googleapis.com/css?family=Oswald');
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
html, body {
margin: 0;
padding: 0;
height: 100%;
width: 100%}

.intro {
    height: 70%;
    width: 100%;
    margin: auto;
    background-image:
        linear-gradient(
      rgba(20, 20, 20, 0.52),
     rgba(97, 97, 97, 0.52)
    ),url("1.jpg") ;
    background-repeat: no-repeat;
     background-color: rgba(248, 247, 216, 0.7);
    background-size: cover;

    display: table;
    top:0;
}

.inner{
    padding-left: 0px;
display: table-cell;
vertical-align: middle;
width: 100%;
max-width: none;}

.content{
 
max-width: 250px;
margin-left: 200px ;
text-align: left;
    color: rgba(236, 236, 236, 255);
  
}
.content h1{
font-family: Raleway;
font-size:12px;}

.content p{
font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
font-size: 20px}
.content p strong{
color: darkgoldenrod}
.forms{
width: 280px;
    top: 50%;
    background: rgba(97, 97, 97, 0.52);
padding-left: 30px;

}
.textbox {
    
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 1px 0;
    margin: 8px 0;
    border-bottom:  1px solid #9E9A9A;
}

.textbox input{
border: none;
outline: none;
background: none;
color: azure;
font-size: 14px;
}
.btn{
    width: 100%;
background: none;
    border: 2px solid #9E9A9A;
    color: white;
    padding: 6px;
    cursor: pointer;
}